<!doctype html>
<html>
<head>
<title>Rules</title>
</head>
<body>
<a href="/">Back to Home</a>
<h1>Rules</h1>
<h2>Objective</h2>
<p>
The objective of Blackjack is to beat the dealer 
by having a higher card total without going over 21.
</p>
<h2>The Deck of Cards</h2>
<p>
Blackjack is played with a standard set of 52 poker cards. 
Each of the 52 cards belongs to a specific suit (Hearts, Spades, 
Clubs, or Diamonds) and has one of 13 denominations 
(Ace, 2, 3, 4, 5, 6, 7, 8, 9, 10, Jack, Queen, or King).
</p>
<h2>Card Values</h2>
<table>
<thead>
<tr>
<th>Card Type</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>Ace (A)</td>
<td>1 or 11</td>
</tr>
<tr>
<td>2</td>
<td>2</td>
</tr>
<tr>
<td>3</td>
<td>3</td>
</tr>
<tr>
<td>4</td>
<td>4</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
</tr>
<tr>
<td>6</td>
<td>6</td>
</tr>
<tr>
<td>7</td>
<td>7</td>
</tr>
<tr>
<td>8</td>
<td>8</td>
</tr>
<tr>
<td>9</td>
<td>9</td>
</tr>
<tr>
<td>10</td>
<td>10</td>
</tr>
<tr>
<td>Jack (J)</td>
<td>10</td>
</tr>
<tr>
<td>Queen (Q)</td>
<td>10</td>
</tr>
<tr>
<td>King (K)</td>
<td>10</td>
</tr>
</tbody>
</table>
<h2>Definitions</h2>
<p>
These are the terms that you'll see in these rules and, 
ostensibly, at a Blackjack table in Reno.
</p>
<h3>Blackjack</h3>
<p>
Not just the name of the game, this is also the name of the two-card 
hand where the player (including the dealer) has an Ace and a card worth 
10 points.
</p>
<h3>Hole</h3>
<p>
The dealer's card that is face down.
</p>
<h3>Hit</h3>
<p>
IF a player wants to be "hit", that means they'd like another card from the 
deck to increase their hands' total.
</p>
<h3>Stand</h3>
<p>
If a player "stands", then this means they no longer want to receive more cards.
</p>
<h3>Bust</h3>
<p>
When a player's hand's value exceeds 21 points, then that hand has "busted" and 
that player has lost.
</p>
<h2>How to Play</h2>
<p>
The flow of Blackjack is fairly simple.
</p>
<ul>
<li>Players place bets before the dealer gives them any cards</li>
<li>The dealer deals two cards face up to each player. The dealer receives one
card face up and one face down.</li>
<li>The dealer asks each player, in turn, whether they want to hit or stand.</li>
<li>If a player wants another card, they will say "Hit me" and the dealer will
give them another card.</li>
<li>If a player's hand has "busted", then their turn has ended and they forfeit
their bet.</li>
<li>Once all players have "stood" or "busted", then the dealer reveals the hole
card and takes cards until the dealer's hand is greater than 16 points.</li>
<li>Payouts to players are based on the final scores of their hand in relation
to the dealer's hand.</li>
<li>The cards are gathered and put to the side and the dealer deals another
round of cards. If the dealer runs out of cards, they will pick up the
used cards, shuffle them, and continue the deal.</li>
</ul>
</body>
</html>